# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Base de datos local
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Credenciales de Google (NUNCA subir)
credentials.json
token.json

# Archivos estáticos recolectados
staticfiles/

# Claude / Gemini
.claude/
.gemini/

credentials.json